html {
  font-family: "Poppins", sans-serif;
  font-family: "Sora", sans-serif;
  color: #f9f5e7;
}

body {
  background-color: #407f62;
}

.container {
  color: #f9f5e7;
  font-size: 40px;
  font-weight: thin;
}
.row {
  background-color: #407f62;
}
.text-left {
  color: #f9f5e7;
}

.img-half {
  display: block;
  transform: translateX(-8rem);
  object-fit: contain;
}

.img-half-bowl {
  display: block;
  transform: translateX(-14rem);
  object-fit: contain;
}

.img-half-maki {
  display: block;
  transform: translateX(-11rem);
  object-fit: contain;
}

h1 {
  font-family: Sora;
  font-weight: lighter;
}

h4 {
  font-family: Poppins;
  font-weight: normal;
}
h6 {
  font-family: Poppins;
  font-weight: lighter;
  font-size: small;
}

.mt-0 {
  margin-top: 0 !important;
}

.pb-5 {
  padding: ($spacer * 0.5) !important;
}

.pt-2 {
  padding-top: ($spacer * 0.5) !important;
}
